<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344203657813-b0ci1ii517fto0c0o4t8c9ju7d8h2cee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344203657813-b0ci1ii517fto0c0o4t8c9ju7d8h2cee</string>
	<key>API_KEY</key>
	<string>AIzaSyDDVaAprvh_okGbBXoixcS4OkrteWe9UvE</string>
	<key>GCM_SENDER_ID</key>
	<string>344203657813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmiCalculatorFirebase</string>
	<key>PROJECT_ID</key>
	<string>bmicalculation-39153</string>
	<key>STORAGE_BUCKET</key>
	<string>bmicalculation-39153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344203657813:ios:87e0345adaf85130660adc</string>
</dict>
</plist>